<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("Styles", required: false)
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>

<body>
    @RenderBody()

    <footer>
        <div>
            &copy; 2023 Artem Florko
        </div>
    </footer>
</body>

</html>
